
:root{
    --background-color: #cce6ff;
}

/* universal start */
*{   
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* universal ends */

body{
    font-family: Arial, Helvetica, sans-serif;  

}


/* header and navi start - sticky on top, same image with subtitle. */
header{
    padding:20px 35px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    background-color:var(--background-color);
    background-size:cover;
    background-attachment:fixed;
    background-position:80%;
    z-index:9999;
    top:0;
}

header h1{
    font-weight:bold;
    margin: 0;
    font-size: 50px;

    
}

header a{
    color:rebeccapurple;
    text-decoration: none;
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

header nav ul li a:hover {
   
    color: purple;
    border-radius: 15px;
    text-shadow: none;
  }
/* header ends */


/* footer start here  */
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--background-color);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
  }
  
footer h2 {
    color: rebeccapurple;
    font-size: 30px;
    margin: 0;
  }
  
footer div {
    line-height: 1.5;
    text-align: right;
  }
  
footer a {
    color: rebeccapurple;
  }

.myresume{
    font-size:25px;
}

/* footer ends */

  /* subtitle need cloud image in the image folder */
.subtitle{
    background-image: url(../images/subtitle-image.jpg);
    background-position:50%;
    padding:80px 60px;
    text-align: right;
    color: blue;  
      
}

.subtitle h2{
    margin-top:50px;
    font-size: 40px;
}
/* subtitle ends */

/* About Me starts */
.Aboutme{
    background: #cce6ff;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items: center;
    padding:20px 80px;
}
.rogerli{
    flex:1 60%;
    margin-right:20px;
    display:flex;
    border-left: 3px solid;
    padding-left: 20px;
}

.rogerli img{
    margin-right:20px;
    flex:1 50%;
    max-width:30%;
}

.bio{
    display:flex;
    flex-wrap:wrap;
    font-size:25px;
    align-items:center;

}

/* About me ends*/

/* my work starts */

.works{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:20px 80px;
    align-items:center;
    background-color: var(--background-color);
}


.works-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    border-left:3px solid;
    flex:1;
    margin-left:104px;
    padding:20px;

}

.projects header{
    background-color: antiquewhite;
}

.projects{
    border:6px solid #e7a25d;
    flex: 0 0 200px;
    display:flex;
}

#run-buddy{
    width:100%;
    min-height:400px;
    min-width:400px;
    flex:1 0 400px;
    background:url(../images/work-1.jpg);
    margin-bottom:20px;
}

#work2{
    background:url(../images/work-2.jpg);    
}
#work3{
    background:url(../images/work-3.jpg);    
}
#work4{
    background:url(../images/work-4.jpg);    
}
#work5{
    background:url(../images/work-5.jpg);    
}

.other-projects{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width: 100%;
    min-width: 400px;
    min-height: 160px;
}

.wording{
    background-color: red;
    margin-top: 95px;
    border: 3px blue solid;
}

.bigwork{
    margin-top: 320px;
    width:200px;
}


/* my work ends*/

/* Contact start */
#Contact{
    display:flex;
    padding:20px 80px;
    background-color: var(--background-color);
}

.contact-content{
    padding: 40px;
    border-left: 3px solid;
    margin-left: 40px;
    display:flex;
    flex-wrap:wrap;
    text-decoration: underline;
}



#Contact div p{
    display:flex;
    flex-wrap:wrap;
    font-size:25px;
    padding:20px;
}

/* editing all titles*/
.section-title{
    font-size:50px;
    align-items: center; 
    margin:auto 35px;
}

